@model CardGame.Web.Models.User




<div class="jumbotron" style="margin-bottom:200px; padding-right:0px">

    <h1> Profile Test</h1>
    <div>
        @Model.Firstname
        @Model.Lastname
    </div>
    <div>
        @Model.Gamertag
    </div>

</div>