@{
    ViewBag.Title = "Home Page";
}

<h2>Clonestone</h2>

<div>
    <img id="logo" class="img-responsive" src="~/img/CS_Logo.png" />
</div>

<!-- TODO - BANNER WERBUNG -->
<!-- #region Banner Werbung -->
    <div class="container" style="width:700px">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" style="height:230px">
                <div class="item active">
                    <img src="~/img/Slider1.png" alt="Slide 1" style="width:100%;">
                </div>
                <div class="item">
                    <img src="~/img/Slider2.png" alt="Slide 2" style="width:100%;">
                </div>
                <div class="item">
                    <img src="~/img/Slider3.png" alt="Slide 3" style="width:100%;">
                </div>
            </div>
        </div>
    </div>
<!-- #endregion -->
