@{
    ViewBag.Title = "Home Page";
}

<h2>Clonestone</h2>
@*<div class="jumbotron">
    @{if (User.Identity.Name != "")
        {
            <h1>Welcome, @ViewBag.Gamertag, (@ViewBag.Firstname  @ViewBag.Lastname) </h1>
        }
    }
    @{if (User.IsInRole("admin"))
        {
            <h1>You are an admin</h1>
        }
    }
</div>*@

<div>
    <img id="logo" class="img-responsive" src="~/img/CS_Logo.png" />
</div>

<div class="container">
    test
</div>
